<div class="container card shadow-lg pl-5 pr-5 md-3">
  <form [formGroup]="forumForm" (ngSubmit)="onSubmit()" novalidate>
  <ejs-tab id="element" #tab>

    <e-tabitems>
      <e-tabitem [header]="headerText[0]">
        <ng-template #content>


            <div class="row">
              <div class="col-12  form-group ">
                <label for="topic">Forum topic</label>
                <input
                  type="text"
                  formControlName="topic"
                  class="form-control"
                  id="topic"
                  aria-describedby="Forum topic"
                  placeholder="Forum topic"
                />
                <div class="text-danger" *ngIf="topic.errors">
                  <div *ngIf="topic.errors['required']">
                    Forum topic is required
                  </div>
                </div>
              </div>
            </div>

        </ng-template>
      </e-tabitem>
      <e-tabitem  [header]="headerText[1]">
        <ng-template #content>
            <div formArrayName="forumLocale">
              <div
                *ngFor="
                  let locale of forumLocales.controls;
                  let i = index;
                  let last = last
                "
                [formGroup]="locale"
              >
                <div class="row" style="position:relative;">
                  <div class="col-12 col-sm-4 form-group">
                    <label for="locale">Language</label>
                    <select
                      class="form-control"
                      formControlName="locale"
                      id="locale"
                    >
                      <option
                        *ngFor="let lang of languages; let i = index"
                        [value]="lang.name"
                        >{{ lang.name }}</option
                      >
                    </select>
                    <div class="text-danger" *ngIf="locale.errors">
                      <div *ngIf="locale.errors['required']">
                        Hospital region is required
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-7 form-group ">
                    <label for="hospital">Emergency contact</label>
                    <input
                      type="text"
                      formControlName="name"
                      class="form-control"
                      id="hospital"
                      aria-describedby="Emergency contact"
                      placeholder="Emergency contact"
                    />
                    <div class="text-danger" *ngIf="topic.errors">
                      <div *ngIf="topic.errors['required']">
                        Hospital Name is required
                      </div>
                    </div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-sm rounded  bg-red delete-button"
                    (click)="deleteLocale(i)"
                  >
                    <i class="fa fa-trash text-danger"></i>
                  </button>
                </div>
              </div>
            </div>

            <button
              type="button"
              (click)="addLocale()"
              class="btn  btn-primary"
            >
              Add Locale
            </button>

        </ng-template>
      </e-tabitem>

    </e-tabitems>


  </ejs-tab>
  <button type="submit" class="btn  btn-success">Submit</button>
  </form>
</div>
