<section class="container card">
  <form [formGroup]='passwordChangeForm' (ngSubmit)="onSubmit()">

      <div class='row'>
        <label for="currentPassword" i18n>Current password</label>
        <div class="col-12 form-group">
          <input type="password" formControlName="currentPassword" i18n-placeholder class="form-control" id="currentPassword"
            name="currentPassword" placeholder="Current password" />
          <div class="e-error" *ngIf="currentPassword.errors">
            <div *ngIf="currentPassword.errors['required']" i18n> Current password is required </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <label for="newPassword" i18n>New password</label>
        <div class='form-group col-12'>
          <input type="password" formControlName="newPassword" i18n-placeholder class='form-control' id="newPassword" name="newPassword"
            placeholder="New password" />
          <div class="e-error" *ngIf="newPassword.errors">
            <div *ngIf="newPassword.errors['required']" i18n> New password is required </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <label for="confirmedPassword" i18n>New password confirmation</label>
        <div class='col-12 form-group'>
          <input type="password" formControlName="confirmedPassword" i18n-placeholder class="form-control" id="confirmedPassword"
            name="confirmedPassword" placeholder="New password confirmation" />
          <div class="e-error" *ngIf="confirmedPassword.errors">
            <div *ngIf="confirmedPassword.errors['required']" i18n> New password confirmation password is required
            </div>
          </div>
        </div>
      </div>

    <app-form-options [submitDisabled]='passwordChangeForm.invalid'></app-form-options>

  </form>

</section>
