<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 ">
      <a href="#" [routerLink]="['/news']" class="info-box shadow-lg  rounded">
        <span class="info-box-icon bg-success">
          <i class="fa fa-newspaper-o " aria-hidden="true"> </i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text"> News </span>
          <span class="info-box-number"> {{ dashboard?.news_count }} </span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 ">
      <a
        href="#"
        [routerLink]="['/forums']"
        class="info-box shadow-lg  rounded"
      >
        <span class="info-box-icon bg-primary">
          <i class="fa fa-comment" aria-hidden="true"> </i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text"> Forums </span>
          <span class="info-box-number"> {{ dashboard?.forum_count }} </span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 ">
      <a href="#" class="info-box shadow-lg  rounded">
        <span class="info-box-icon bg-warning">
          <i class="fa fa-tint" aria-hidden="true"> </i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text"> Complains </span>
          <span class="info-box-number"> {{ dashboard?.complain_count }} </span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 ">
      <a
        href="#"
        [routerLink]="['/articles']"
        class="info-box shadow-lg  rounded"
      >
        <span class="info-box-icon bg-info">
          <i class="fa fa-file-text" aria-hidden="true"> </i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text"> Articles </span>
          <span class="info-box-number"> {{ dashboard?.article_count }} </span>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 ">
      <a
        href="#"
        [routerLink]="['/hospitals']"
        class="info-box shadow-lg  rounded"
      >
        <span class="info-box-icon bg-dark">
          <i class="fa fa-stethoscope " aria-hidden="true"> </i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text"> Mediacal centers </span>
          <span class="info-box-number"> {{ dashboard?.hospital_count }} </span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <a
        href="#"
        [routerLink]="['/schools']"
        class="info-box shadow-lg  rounded"
      >
        <span class="info-box-icon bg-warning">
          <i class="fa fa-graduation-cap" aria-hidden="true"> </i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text"> Schools </span>
          <span class="info-box-number"> {{ dashboard?.school_count }} </span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 ">
      <a
        href="#"
        [routerLink]="['/agencies']"
        class="info-box shadow-lg  rounded"
      >
        <span class="info-box-icon bg-secondary">
          <i class="fa fa-link" aria-hidden="true"> </i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text"> Agencies </span>
          <span class="info-box-number"> {{ dashboard?.agencies_count }} </span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <a
        href="#"
        [routerLink]="['/emergency-contacts']"
        class="info-box shadow-lg  rounded"
      >
        <span class="info-box-icon bg-danger">
          <i class="fa fa-ambulance" aria-hidden="true"> </i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text"> Emergency contacts </span>
          <span class="info-box-number">
            {{ dashboard?.emergency_contact_count }}
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
