.navbar {
  padding: 0;
}

nav {
  margin-bottom: 2em;
}

.main-content {
  padding-left: 1em;
  padding-right: 1em;
}


i.nav-link-icon {
  display: block !important;
  color: #0d47a1;
}

.nav-item {
  text-align: center;
}


.e-search:before {
  content: '\e57e';
}
