<div class="container card shadow-lg pl-5 pr-5 md-3">
  <form [formGroup]="hospitalsForm" (ngSubmit)="onSubmit()" novalidate>
    <ejs-tab id="element">
      <e-tabitems>
        <e-tabitem [header]="headerText[0]">
          <ng-template #content>

            <div class="row">
              <div class="col-12 col-sm-6 form-group ">
                <label for="hospital">Medical Center</label>
                <input type="text" formControlName="name" class="form-control" id="hospital" aria-describedby="Medical center"
                  placeholder="Medical center" />
                <div class="text-danger" *ngIf="hospitalName.errors">
                  <div *ngIf="hospitalName.errors['required']">
                    Hospital Name is required
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="number" class="form-control" formControlName="phoneNumber" id="phoneNumber" placeholder="Phone number" />
                <small id="address" class="form-text text-muted">Address of the medical canter.</small>
                <div class="text-danger" *ngIf="phoneNumber.errors">
                  <div *ngIf="phoneNumber.errors['required']">
                    Phone number is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row"></div>
            <div class="row">
              <div class="col-12 col-sm-6 form-group">
                <label for="address">Address</label>
                <input type="text" formControlName="address" formControlName="address" class="form-control" id="address"
                  aria-describedby="Address" placeholder="Address" />
                <small id="address" class="form-text text-muted">Address of the medical canter.</small>
                <div class="text-danger" *ngIf="address.errors">
                  <div *ngIf="address.errors['required']">
                    Hospital address is required
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 form-group">
                <label for="region">Region</label>
                <select class="form-control" formControlName="region" id="region">
                  <option>Addis Ababa</option>
                  <option>Dire dawa</option>
                  <option>Hawassa</option>
                  <option>Bishoftu</option>
                  <option>Nazret</option>
                </select>
                <div class="text-danger" *ngIf="region.errors">
                  <div *ngIf="region.errors['required']">
                    Hospital region is required
                  </div>
                </div>
              </div>
            </div>

          </ng-template>
        </e-tabitem>
        <e-tabitem  [header]="headerText[1]">
          <ng-template #content>
            <div formArrayName="hospitalLocale">
              <div *ngFor="
                  let locale of hospitalLocales.controls;
                  let i = index;
                  let last = last
                "
                [formGroup]="locale">
                <div class="row" style="position:relative;">
                  <div class="col-12 col-sm-4 form-group">
                    <label for="locale">locale</label>
                    <select class="form-control" formControlName="locale" id="locale">
                      <option *ngFor="let lang of languages; let i = index" [value]="lang.ID">{{ lang.name }}</option>
                    </select>
                    <div class="text-danger" *ngIf="region.errors">
                      <div *ngIf="region.errors['required']">
                        Hospital language is required
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 form-group ">
                    <label for="hospital">Medical Center</label>
                    <input type="text" formControlName="name" class="form-control" id="hospital" aria-describedby="Medical center"
                      placeholder="Medical center" />
                    <div class="text-danger" *ngIf="hospitalName.errors">
                      <div *ngIf="hospitalName.errors['required']">
                        Hospital Name is required
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 form-group">
                    <label for="region">Address</label>
                    <input type="text" formControlName="address" formControlName="address" class="form-control" id="address"
                      aria-describedby="Address" placeholder="Address" />
                    <small id="address" class="form-text text-muted">Address of the medical canter.</small>
                    <div class="text-danger" *ngIf="address.errors">
                      <div *ngIf="address.errors['required']">
                        Hospital address is required
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-sm rounded  bg-red delete-button" (click)="deleteLocale(i)">
                    <i class="fa fa-trash text-danger"></i>
                  </button>
                </div>
              </div>
            </div>
            <button type="button" (click)="addLocale()" class="btn  btn-primary">
              Add Locale
            </button>
          </ng-template>
        </e-tabitem>
      </e-tabitems>
    </ejs-tab>
    <button type="submit" class="btn  btn-success">Submit</button>
  </form>
</div>
